* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: aqua;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}
main {
    background-color: brown;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(rgb(223, 159, 159), rgb(183, 240, 183), rgb(161, 161, 207), alpha);
}
